$font-primary: "Poppins", sans-serif;
$font-secondary: "Afacad Flux", serif;
$color-primary: red;
$color-secondary: #dadada;
$color-background: #000000;
$color-highlight: pink;
$breakpoint-medium: 730px;